@use "../../Partials/breakpoints" as *;

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
    overflow: scroll;

    &__info {
        margin: 2rem;
        text-align: center;
        
        @include mobile {
            margin: 0.5rem;
        }
    }

    &__form {
    width: 80%;
     display: flex;
     align-items: center;
     flex-direction: column;
     margin: 1rem 0;

     @include mobile {
        width: 90%;
     }
    }

    &__subject, &__main, &__email {
        width: 100%;
        resize: none;
        margin: 0.4rem 0;
        padding: 0 0.5rem;
        font-size: 1.2rem;

        @include mobile {
            font-size: 0.6rem;
            margin: 0.2rem 0;
        }
    }

    &__button {
        padding: 0 1rem;
        margin: 1rem 0;

        @include mobile {
                font-size: 0.6rem;
            }
    }

    &__link {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;

     
    }

    &__quick-link {
        display: flex;
        justify-content: center;
        margin: 1.5rem 0;
    }

    &__link-icon {
        width: 1rem;
        height: auto;
        margin: 0 1rem;
    }
    &__quick-link-icon {
        height: 3rem;
        width: auto;
        margin: 0 1rem;

        @include mobile {
            height: 1.5rem;
            width: auto;
        }
    }

    &__link-title {
        @include mobile {
                font-size: 0.4rem;
            }
    }
}