@use "./Partials/breakpoints" as *;
@use "./Partials/fonts" as *;

html {
  font-size: 62.5%;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Roboto Mono;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

p,
ul,
li {
  font-size: 1rem;

  letter-spacing: 0.5px;
  font-weight: 400;
}

div {
  // Custom scrollbar styles
  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: transparent; // Transparent background
  }

  &::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 2px; // To make the thumb rounded
    // margin: 10px;
  }

  &::-webkit-scrollbar-track {
    // Use padding to effectively reduce the thumb's height
    background-color: transparent; // Keeps the track background transparent
    padding: 5% 0; // Pad the top and bottom of the track to achieve 95% height
  }
}

@include mobile {
  h1 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  h4 {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  p,
  ul,
  li {
    font-size: 0.4rem;
  }
}
